.card-travel {
  display: flex;
  gap: 20px;
  background: #f5f8ff;
  border: 0.5px solid #c2cff0;
  border-radius: 5px;

  &:hover {
    opacity: 0.7;
  }

  &--cheaps {
    background: #fff8e1;
    border-color: #fff8e1;
  }
}

.card-travel__content {
  padding-top: 22px;
  padding-right: 16px;
  padding-top: 16px;
  flex-grow: 1;
}

.card-travel__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 16px;
}

.card-travel__icon {
  margin-top: 16px;
  margin-bottom: 24px;
}

.card-travel__price {
  text-align: right;

  &--cheaps {
    color: #ff0000;
  }
}
