// @import '~normalize.css';
@import './fonts.scss';

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(196, 201, 255);
  color: rgb(30, 0, 23);
  user-select: none;
  font-family: 'manrope', sans-serif;
}

.logo {
  // background-image: url('/img/webpack-logo.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
